*{
    margin: 0;

}

body{
    background-color: #0F0F0F;
}
button{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

input{
    display: block;
    
}

#contenedor{
    height: 500px;
    width: 700px;
    background-color: #005B41;
    margin: 0 auto;
}

#contenido{
    display: flex;
    
}

header{
    background-color: #232D3F;
    color: white;
    text-align: center;
    margin-top: 4em;
}

footer{
    background-color: #008170;
    text-align: center;

}