*{
    padding: 0%;
    margin: 0%;
}


body{
    background-color: white;

}

#contenedor{
    height: 800px;
    width: 1000px;
    background-color: #b6d7ec;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

header{
    margin-top: 1em;
}

img{
    height: 300px;
    margin-right: 5em;
}

input{
    
    margin-left: 1em;
}

button{
    margin-left: 1em;
    margin-top: 2em;
    border: 1px solid;
    margin-bottom: 1em;
}
li{
    list-style: none;
    
}   
.flex{
    display: flex;
    justify-content: space-between;
    
}