/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
#encabezado {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Estilo para el título del encabezado */
#encabezado h1 {
    font-size: 24px;
    margin: 0;
}

/* Estilo para el contenedor de números aleatorios */
#contenedor-numerosAleatorios {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo para el título "Generación de Numeros aleatorios" */
#contenedor-numerosAleatorios h2 {
    font-size: 20px;
}

/* Estilo para el campo con etiqueta "Cantidad de Numeros aleatorios a generar" */
.campo {
    margin-top: 20px;
}

/* Estilo para la etiqueta "Cantidad de Numeros aleatorios a generar" */
.campo label {
    font-weight: bold;
    display: block;
}

/* Estilo para el input "limite" */
#limite {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
}

/* Estilo para el mensaje de error "errorLimite" */
#errorLimite {
    color: brown;
    visibility: hidden;
}




/* Estilo para el select "numeros" */
#numeros {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
}

/* Estilo para los campos de porcentaje de pares e impares */
.campoPares, .campoImpares {
    margin-top: 20px;
}

/* Estilo para los porcentajes */
.campoPares label, .campoImpares label {
    font-weight: bold;
    display: block;
}

/* Estilo para el campo "¿Es Simétrico?" */
.campoSimetrico {
    margin-top: 20px;
}

/* Estilo para el pie de página */
#pie {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  } 

